python-dotenv

bs4

# torch-cpu for huggingface embeddings
--extra-index-url https://download.pytorch.org/whl/cpu
torch

sqlite3 >= 3.35.0

langchain
langchain_community
langchain_groq
langchain_chroma
langchain_huggingface

streamlit
streamlit_chat

fabric
